name: "Create Release"

on:
    push:
        tags:
            - "v*"

jobs:
    pre-release:
        name: "Create Release"
        runs-on: "ubuntu-latest"

        steps:
            - uses: "marvinpinto/action-automatic-releases@latest"
              with:
                  repo_token: "${{ secrets.GITHUB_TOKEN }}"
                  prerelease: false
                  files: |
                      *
